:root {
  --brand-color: #5e6043;
  --secondary-color: white;
  --h1-heading-font-family: "Roboto Mono", monospace;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--brand-color);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4c4c4c;
  font-family: var(--h1-heading-font-family);
}

h1 {
  font-size: 65px;
  line-height: 1.5;
  padding: 17px 20px 10px 20px;
}

h2 {
  font-size: 20px;
  padding: 22px;
}

h3 {
  font-size: 35px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.introduction {
  background: var(--secondary-color);
  text-align: center;
  padding: 0px 20px;
  margin-top: 78px;
}

.introduction h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-page {
  padding: 60px 20px;
}

.content-page h1 {
  font-size: 64px;
}

.content-page h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content-page p {
  font-size: 14px;
  margin: 0px 166px 0px 25px;
}

.content {
  margin: 30px;
}

.techonology {
  margin-top: 20px;

  margin-bottom: 40px;
}

.techonology h2 {
  font-family: var(--default-font-family);
  color: var(--brand-color);
  padding: 30px;
}

.toolbox {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 5px 0px;
  max-width: 600px;
  text-align: center;
}

.tools {
  margin: 10px;
}

.tools .col img {
  width: 50px;
  margin: 5px;
}

figcaption {
  color: var(--primary-color);
  font-size: 12px;
}
.btn-brand {
  background: var(--brand-color);
  border-radius: 12px;
  color: white;
  font-size: 16px;
  line-height: 16px;
  padding: 18px 18px;
  margin: 35px 0px 0px 30px;
}

.btn-brand-outline {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 37px 0px;
}
.project-desciption p {
  margin: 0px 20px 0px 0px;
}

footer {
  margin: 124px 0 -60px 0;
}

footer .social-links a {
  margin: 5px 20px;
  color: var(--brand-color);
  background: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 20%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--brand-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .introduction {
    padding: 80px 20px;
  }

  .content-page {
    text-align: left;
    padding: 0;
  }
  .content-page h1 {
    text-align: left;
    padding: 0;
  }
  .content-page h2 {
    text-align: left;
    padding: 0 2px;
  }
  .content-page p {
    text-align: left;
    padding: 20px;
    margin: 0px 21px 0px -17px;
  }
  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .tools {
    margin: 0px 55px 0px 0px;
  }
  .toolbox {
    text-align: left;
  }
  .btn-brand {
    margin: 0;
  }
}
